<table *ngFor="let scenario of feature.Scenarios" class="table">
    <caption [class.passed]="scenario.Passed" [class.failed]="!scenario.Passed">{{scenario.Name}}</caption>
    <thead>
        <tr>
            <th>Status</th>
            <th>Step</th>
            <th>Stack</th>
            <th>Duration</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let step of scenario.Steps" [class.passed]="step.Passed" [class.failed]="!step.Passed">
            <td class="status">{{step.Passed && 'Y' || 'N'}}</td>
            <td class="step">{{step.Name}}</td>
            <td class="stack">{{step.Stack && step.Stack || 'n/a'}}</td>
            <td class="duration">{{step.Duration}}</td>
        </tr>
    </tbody>
</table>