//variables
$font-color: #333;
$font-color-light: #333;
$font-color-green: #9cb074;
$font-color-red: #e95151;
$font-color-blue: #08c;
$font-stack: 'roboto', arial, helvetica, sans-serif;
$font-stack-bold: 'roboto-bold', arial, helvetica, sans-serif;
$font-size: 16px;

$background-color: #fff;

$primary-color: #d6d2cc;
$secondary-color: #f1e8dc;
$highlight-color: #e25c12;
$brand-color: #7d7264;
$test-run-title-color: #333;
$header-bar-background-color: #f3f2ee;
$table-header-background-color: #f7f7f7;
$table-subheader-background-color: #f7f7f7;

$left-side-color: #aca49a;
$left-side-background-color: #fbf9f5;
$left-side-border-color: #e0dcd6;
$left-side-width: 280px;
$sidenav-header-color: lighten($primary-color, 8%);
$hover-selected-color: darken($left-side-background-color, 4%);

$dashboard-chart-border: #e0dcd6;

//mixins
@mixin box-sizing {
  box-sizing: border-box;
}
@mixin text-shadow {
  text-shadow: none;
}

@font-face {
  font-family: 'roboto';
  font-weight: normal;
  src: url('/fonts/roboto-regular-webfont.woff'), url('/fonts/roboto-regular-webfont.woff2');
}

@font-face {
  font-family: 'roboto-bold';
  font-weight: normal;
  src: url('/fonts/roboto-bold-webfont.woff'), url('/fonts/roboto-bold-webfont.woff2');
}

//styles
html,
body,
p,
div,
section,
header,
ul,
li {
  @include box-sizing;
  @include text-shadow;
  color: $font-color;
  font-family: $font-stack;
  font-size: $font-size;
  margin: 0 auto;
  padding: 0;
}

html,
body {
  @include text-shadow;
  display: block;
  height: 100%;
  min-height: 100%;
  min-width: 1060px;
  position: relative;
  width: 100%;
}

a {
  color: $font-color;
  text-decoration: none;

  &:active,
  &:hover {
    color: $highlight-color;
  }
}

.loading {
  align-items: center;
  background-color: $left-side-background-color;
  color: lighten($highlight-color, 30%);
  display: flex;
  height: 100%;
  justify-content: center;
  min-height: 100%;
  min-width: 100%;
}

.body-content {
  background: $background-color;
  display: block;
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  position: relative;
  width: 100%;
}

nav {
  &.navbar {
    &.navbar-default {
      background-color: $secondary-color;
      height: 65px;
      margin-bottom: 0;
      min-height: 65px;
      overflow: hidden;
    }

    .navbar-header {
      padding-left: 280px;
      width: 100%;
    }

    .brand-container {
      background-color: $primary-color;
      color: $brand-color;
      height: 65px;
      left: 0;
      min-height: 65px;
      min-width: $left-side-width;
      overflow: hidden;
      padding: 9px 15px 0;
      position: absolute;
      width: $left-side-width;

      .navbar-brand {
        margin-left: -15px;

        .logo {
          float: left;
          height: 20px;
          margin: 0 10px 0 5px;
          width: 20px;
        }
      }

      .fa-bars {
        cursor: pointer;
        font-size: 21px;
        position: absolute;
        right: 20px;
        top: 24px;
      }
    }

    .nav-items {
      display: block;
      height: 65px;
      padding: 0;
      position: relative;
      width: 100%;

      .container-fluid {
        padding: 0;
      }

      .icons {
        border-left: 1px solid rgba(100, 100, 100, .2);
        color: lighten($font-color, 20%);
        cursor: pointer;
        display: block;
        float: left;
        margin: 22px -4px 0 0;
        padding: 2px 0;
        text-align: center;
        width: 36px;

        .fa {
          font-size: 20px;
        }

        &:first-child {
          border-left: 0;
          padding-right: 6px;
        }
      }

      .title {
        vertical-align: middle;

        h4 {
          height: 65px;
          line-height: 3em;
          text-transform: capitalize;
        }
      }

      .user {
        display: block;
        position: absolute;
        right: 5px;
        top: 0;

        .user-image {
          background-color: rgba(0, 0, 0, .1);
          border-radius: 24px;
          float: left;
          height: 40px;
          margin-top: 13px;    
          width: 40px;
        }

        .user-name {
          float: left;
          height: 65px;
          padding: 25px 14px 0;
          text-align: left;
        }

        .icons {
          float: right;
        }
      }
    }
  }
}

.sidenav {
  background-color: $left-side-background-color;
  display: inline-block;
  height: calc(100% - 65px);
  margin-right: -4px;
  min-height: calc(100% - 65px);
  overflow: hidden;
  padding: 0;
  position: relative;
  width: $left-side-width;

  &.collapsed {
    overflow-x: hidden;
    width: 50px;
  }

  ul {
    display: table;
    margin: 0;
    padding: 0;
    width: $left-side-width;

    li {
      color: $left-side-color;
      cursor: pointer;
      display: table-row;
      height: 50px;
      min-height: 50px;
      width: 100%;

      &:hover {
        background-color: $hover-selected-color;
        color: $highlight-color;
      }

      &.selected {
        div {
          background-color: $hover-selected-color;
          color: $highlight-color;
          cursor: default;
        }
      }

      div {
        border-bottom: 1px solid $left-side-border-color;
        border-right: 1px solid $left-side-border-color;
        color: inherit;
        display: table-cell;
        font-size: .9em;
        padding: 5px 7px;
        text-transform: capitalize;
        vertical-align: middle;

        &:nth-child(1) {
          text-align: center;
          width: 50px;
        }

        &:nth-child(2) {
          text-align: left;
          width: 230px;
        }
      }

      &.environment-header {
        @include box-sizing;
        background-color: $sidenav-header-color;
        color: darken($left-side-color, 10%);
        cursor: default;
        font-family: $font-stack-bold;
        font-size: .8em;
        height: 28px;
        margin: 0;
        max-height: 28px;
        min-height: 28px;
        min-width: 280px;
        padding: 0;
        text-decoration: none;
        text-transform: uppercase;
        white-space: nowrap;

        div {
          height: 28px;
          min-height: 28px;
          overflow: hidden;
        }
      }
    }
  }

  .divider {
    background-color: #f1e8dc;
    border-bottom: 1px solid $left-side-border-color;
    border-right: 1px solid $left-side-border-color;
    color: $left-side-color;
    display: inline-block;
    font-size: .6em;
    height: 28px;
    max-height: 28px;
    min-height: 28px;
    padding: 7px 7px 5px;
    text-align: left;
    text-transform: uppercase;
    vertical-align: middle;
    width: 100%;
  }
}

.main-content {
  background-color: #fff;
  bottom: 0;
  display: inline-block;
  left: $left-side-width;
  margin: 0;
  padding: 65px 0 0;
  position:absolute;
  right: 0;
  top: 0;
  vertical-align: top;
}

.app-tabs {
  display: block;
  height: 100%;
  min-height: 100%;
  width: 100%;

  .nav-tabs {
    height: 50px;
    overflow: hidden;

    li {
      >a {
        border-radius: none;
        color: $font-color;
        cursor: pointer;
        font-size: .9em;
        height: 50px;
        line-height: 2.4em;
      }

      &.active,
      &:hover {
        > a {
          background-color: lighten($hover-selected-color, 2%);
          border: 0;
          color: $highlight-color;
        }
      }

      &:link,
      &:visited {
        > a {
          background-color: $background-color;
          border: 0;
          color: $font-color;
        }
      }
    }
  }

  .metrics {
    border: 1px solid #ddd;
    border-bottom: none;
    height: 130px;
    margin: 0 auto;
    width: 98%;

    >div {
      border-right: 1px solid #ddd;
      height: 100%;
      white-space: nowrap;

      &:last-child {
        border-right: 0;
      }
    }

    header {
      color: $font-color-light;
      font-size: .8em;
      margin-top: 20px;
      text-align: center;
    }

    .metrics-content {
      margin-top: 15px;
      text-align: center;

      p {
        font-size: 2em;
        margin: 20px 0 0;
        overflow: hidden;
        text-align: center;
        text-overflow: ellipsis;
        width: 100%;

        &:nth-child(2),
        &:nth-child(3) {
          float: left;
          margin: 10px 0 0 10px;
          text-align: left;
          width: auto;
        }
      }

      canvas {
        float: left;
        height: 55px;
        margin-left: calc(50% - 75px);
        width: 55px;
      }
    }
  }

  .app-tabs {
    .panel-group-custom {
      margin-bottom: 70px;
    }
  }

  .panel-flat {
    border-radius: 0;
    width: 98%;
  }

  .panel-heading-custom {
    background-color: $header-bar-background-color;
    padding: 3px 10px;

    header {
      padding: 5px 0;

      i {
        display: none;
        font-size: 24px;

        &.fa-exclamation-circle {
          color: $font-color-red;
        }

        &.fa-check-circle {
          color: $font-color-green;
        }

        &.fa-caret-up,
        &.fa-caret-down {
          color: darken($header-bar-background-color, 40%);
          font-size: 16px;
        }
      }

      .status-icon {
        display: inline-block;
        font-size: 16px;
        margin: -1px 0 0 -5px;
        position: relative;
        text-align: center;
        vertical-align: middle;
        width: 32px;
      }

      h4 {
        display: inline-block;
        font-family: $font-stack-bold;
        font-size: 1em;
        margin: 0 5px;
        text-align: left;
        vertical-align: middle;
      }

      .collapse-direction-icon {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
        width: 32px;
      }

      &.passed .status-icon {
        .fa-check-circle {
          display: block;
        }
      }

      &.failed .status-icon {
        .fa-exclamation-circle {
          display: block;
        }
      }
    }

    >a {
      color: $font-color;
      font-family: $font-stack;
      text-decoration: none;

      .fa-caret-down {
        display: block;
      }

      &.collapsed {

        .fa-caret-up {
          display: block;
        }

        .fa-caret-down {
          display: none;
        }
      }
    }
  }

  .panel-body-no-padding {
    padding: 0;
  }

  .run-date {
    color: $test-run-title-color;
    font-size: 1.4em;
    margin: 40px auto 10px;
    text-align: left;
    width: 98%;

    &.passed {
      color: $font-color-green;
    }

    &.failed {
      color: $font-color-red;
    }
  }

  table {
    @include text-shadow;
    color: $font-color;
    margin: 0 auto;
    width: 100%;

    caption {
      background-color: $table-header-background-color;
      border-bottom: 1px solid #ddd;
      border-top: 1px solid #ddd;
      color: $font-color;
      font-size: .9em;
      padding: 7px 10px 7px 40px;
      position: relative;

      &::before {
        color: rgba(0, 0, 0, .3);
        content: '\2937';
        font-size: 1.4em;
        left: 20px;
        position: absolute;
        top: 3px;
      }

      &.failed,
      &.passed {
        color: #fff;

        &::before {
          color: rgba(255, 255, 255, .7);
        }
      }

      &.failed {
        background-color: $font-color-red;
      }

      &.passed {
        background-color: $font-color-green;
      }

    }

    tr {
      th {
        background-color: $table-subheader-background-color;
        border: 1px solid #ddd;
        font-family: $font-stack-bold;
        font-size: .75em;
        width: 45%;

        &:first-child {
          border-left: 0;
          text-align: center;
          width: 5%;
        }

        &:nth-child(2) {
          width: 55%;
        }

        &:nth-child(3) {
          width: 30%;
        }

        &:last-child {
          border-right: 0;
          text-align: center;
          width: 10%;
        }
      }

      td {
        border: 1px solid #ddd;
        font-size: .8em;

        &:first-child {
          border-left: 0;
          text-align: center;
          width: 5%;
        }

        &:nth-child(2) {
          width: 55%;
        }

        &:nth-child(3) {
          width: 30%;
        }

        &:last-child {
          border-right: 0;
          text-align: right;
          width: 10%;
        }
      }

      &:last-child {
        td {
          border-bottom:none;
        }
      }

      &.passed,
      &.failed {

        .status {
          color: transparent;
          min-width: 36px;
          position: relative;
          width: 36px;

          &::before {
            border-radius: 7px;
            content: '';
            height: 14px;
            left: calc(50% - 7px);
            position: absolute;
            top: 12px;
            width: 14px;
          }
        }
      }

      &.passed .status::before {
        background-color: $font-color-green;
      }

      &.failed {
        color: $font-color-red;

        .status::before {
          background-color: $font-color-red;
        }
      }
    }
  }
}

@media print {
  * {
    -webkit-print-color-adjust: exact;
  }

  .sidenav {
    display: none;
  }

  .main-content {
    left: 0;
  }

  .nav-tabs {
    li {
      display: none;

      &.active {
        display: inline-block;
      }
    }
  }
}

.dashboard {
  display: block;
  margin: 0 auto;
  padding: 20px 10px;
  text-align: center;
  width: 100%;

  canvas {
    border: 1px solid $dashboard-chart-border;
    margin: 20px auto;
    padding: 10px 20px;
  }

  h4 {
    text-align: center;
  }

  .chart-table {
    border: 1px solid $dashboard-chart-border;
    display: block;
    height: 100%;
    margin: 20px auto;
    min-height: 100%;
    padding: 15px 10px 10px;
    width: 100%;

    table {
      height: auto;
      width: 100%;

      tr {
        border-top: 1px solid $dashboard-chart-border;

        th {
          background-color: rgba(224, 220, 214, .5);
          padding: 7px 9px;

          &:nth-child(1) {
            text-align: left;
          }

          &:nth-child(2) {
            text-align: right;
          }
        }

        td {
          padding: 7px 9px;

          &:nth-child(1) {
            text-align: left;
          }

          &:nth-child(2) {
            text-align: right;
          }

          &.passed {
            color: darken($font-color-green, 10%);
          }

          &.failed {
            color: darken($font-color-red, 10%);
          }
        }
      }
    }
  }
}
