<!-- result -->
<div class="test-run" *ngFor="let run of app.TestRuns, let idx = index">
    <div class="row">
        <div class="col-xs-6 text-left">
            <h3 class="run-date">Test Run: {{run.Date | date:'MM-dd-y hh:mm:ss a'}}</h3>
        </div>
        <div class="col-xs-6 text-right">
            <p class="run-by">Run By: {{run.ExecutedBy}}</p>
        </div>
    </div>
    
    <div class="metrics row">
        <div class="total-tests col-xs-3">
            <header>Total Tests</header>
            <div class="metrics-content">
                <p>{{run.ScenarioCount}}</p>
            </div>
        </div>
        <div class="failed-tests col-xs-3">
            <header>Failed Tests</header>
            <div class="metrics-content">
                <canvas id="cnv-failed-tests" width="60" height="60"></canvas>
                <p>{{run.ScenariosFailed}}</p>
            </div>
        </div>
        <div class="pass-percent col-xs-3">
            <header>Pass Percentage</header>
            <div class="metrics-content">
                <canvas id="cnv-pass-percent" width="60" height="60"></canvas>
                <p>{{(run.ScenariosPassed / run.ScenarioCount) | percent: '1.0-0'}}</p>
            </div>
        </div>
        <div class="run-duration col-xs-3">
            <header>Run Duration</header>
            <div class="metrics-content">
                <p>{{run.Duration}}</p>
            </div>
        </div>
    </div>
    <div *ngIf="run" class="panel-group panel-group-custom">
        <feature [run]="run"></feature>
    </div>
</div>
<!-- end result -->