<div class="sidenav">
    <div *ngFor="let env of environments, let idx = index">
        <ul>
            <li *ngIf="idx === 0">
                <div><span class="fa fa-dashboard"></span></div>
                <div routerLink="/">Dashboard</div>
            </li>

            <li *ngIf="env.Name" class="environment-header">
                <div><span class="fa fa-cloud"></span></div>
                <div>{{env.Name}}</div>
            </li>

            <li *ngFor="let svr of env.Servers" [routerLinkActive]="['selected']">
                <div><span class="fa fa-server"></span></div>
                <div routerLink="/results/{{env.Name}}/{{svr.Name}}">{{svr.Name}}</div>
            </li>
        </ul>
    </div>
</div> <!-- end sidenav -->
