<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="brand-container">
                <a class="navbar-brand" href="">
                    <img src="/images/icons/bug.png" class="logo">
                    <span class="brand-main-text" title="{{ title }}">{{ title }}</span>
                </a>
                <i class="fa fa-bars"></i>
            </div>
            <div class="nav-items">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-2 text-left">
                            <div class="icons" (click)="refreshTestResults()"><span class="fa fa-refresh"></span></div>
                            <div class="icons" style="display:none;"><span class="fa fa-cog"></span></div>
                            <div class="icons" (click)="printWindow()"><span class="fa fa-print"></span></div>
                        </div>
                        <div class="title col-xs-8 text-center"><h4>{{ pageTitle }}</h4></div>
                        <div class="col-xs-2 text-right">
                            <div class="user" style="display:none;">
                                <div class="user-image"></div>
                                <div class="user-name">John Doe</div>
                                <div class="icons"><span class="fa fa-sign-out"></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end nav-items -->
        </div> <!-- end navbar-header -->
    </div> <!-- container -->
</nav> <!-- end navbar -->