<div *ngFor="let feature of run.Features, let idx = index">
    <div class="panel panel-default panel-flat">
        <div class="panel-heading panel-heading-custom">
            <a href="#{{run.Guid}}_{{idx}}" data-toggle="collapse" aria-expanded="true">
                <header class="panel-title" [class.failed]="!feature.Passed" [class.passed]="feature.Passed">
                    <div class="status-icon">
                        <i class="fa fa-exclamation-circle"></i>
                        <i class="fa fa-check-circle"></i>
                    </div>
                    <h4>{{feature.Name}}</h4>
                    <div class="collapse-direction-icon">
                        <i class="fa fa-caret-up"></i>
                        <i class="fa fa-caret-down"></i>
                    </div>
                </header>
            </a>
        </div>
        <div id="{{run.Guid}}_{{idx}}" class="panel-collapse collapse">
            <div class="panel-body panel-body-no-padding">
                <scenario [feature]="feature"></scenario>
            </div>
        </div>
    </div>
</div>