<div class="panel-group panel-group-custom">
    <div class="panel panel-default panel-flat">
        <div class="panel-heading panel-heading-custom">
            <a href="#collapse2" data-toggle="collapse" class="collapsed" aria-expanded="false">
                <header class="panel-title failed">
                    <div class="status-icon">
                        <i class="fa fa-exclamation-circle"></i>
                        <i class="fa fa-check-circle"></i>
                    </div>
                    <h4>{{name}}</h4>
                    <div class="collapse-direction-icon">
                        <i class="fa fa-caret-up"></i>
                        <i class="fa fa-caret-down"></i>
                    </div>
                </header>
            </a>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body panel-body-no-padding">
                <scenario></scenario>
            </div>
        </div>
    </div>
</div>